body {
    background-color: lightblue;
    opacity: 0.7;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: "verdana", sans-serif;
    font-size: 20px;
    color: red;
}

#para1 {
    color: brown;
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
}

.center {
    text-align: center;
    color: yellow;
    /* This is an example of a comment in CSS */
}

pre {
    border: 2px dashed green;
    outline: brown solid 10px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
}