body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: "verdana", sans-serif;
    font-size: 20px;
    color: red;
}

#para1 {
    color: brown;
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
}

.center {
    text-align: center;
    color: yellow;
}